<!DOCTYPE html>
<html>
  <head>
    <title>WebpakcerReactExampl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
